@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Kanit&family=Poppins:wght@400;500&family=Raleway&family=Roboto:ital,wght@0,400;0,500;1,300&family=Rubik&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.purple {
    background-color: #5d54a4;
    border: #5d54a4;
}

.green {
    background-color: #38cc8a;
    border: 3px solid #30c085;
}

body {text-align: center;}#alert-trigger{background-color: green; padding: 5px; color: #FFF;}

#example {background-color: grey;padding: 10px;margin: 10px 0px;
  opacity:0; /* initial opacity value set to 0 */
  transition: all 1s; /* will fade the element instead of hiding/showing the element instantly */
}